
<div class="app-bar"> <h2>Clear Eye</h2></div>
<br>
<!-- <button class="btn">Add Employee</button> -->
<div class="main-body-center">


  <mat-tab-group>
    <mat-tab label="All Employees">
      <app-employee-table [dataSource]="employeeList"></app-employee-table>
    </mat-tab>
    <mat-tab  label="Active Employees">
      <app-employee-table [dataSource]="getFilteredList('Active')"></app-employee-table>
    </mat-tab>
    <mat-tab  label="Inactive Employees"> <app-employee-table [dataSource]="getFilteredList('Inactive')"></app-employee-table></mat-tab>
    <mat-tab  label="Temporarily Suspended Employees"> <app-employee-table [dataSource]="getFilteredList('Temporarily suspended')"></app-employee-table></mat-tab>
    <mat-tab   label="Terminated Employees"> <app-employee-table [dataSource]="getFilteredList('Terminated')"></app-employee-table></mat-tab>
  </mat-tab-group>
</div>